
<section class="splash-container">
  <h1 class="splash-container__title">
    <span class="material-symbols-outlined">paid</span>
    mi budget
  </h1>
  <div class="splash-container__action">
    <%= link_to "LOG IN" %>
    <%= link_to "SIGN UP" %>
  </div>
</section>