<section class="categories-container">
<h4 class="categories-container__title">Categories</h4>
  <% if @categories %>
    <%@categories.each do |category| %>
      <article class="category">
        <div class="category-image">
          <img src=<%= category.image %> alt="">
        </div>
        <div class="category-name">
          <h3><%= link_to category.name, category_transactions_path(category.id) %></h3>
        </div>
        <div class="category-total">
          <p>$<%= category.total_pric(category.id) %></p>
        </div>
      </article>

    <% end %>
    
  <% else %>
    No categoryFound at the Moment
  <%end %>
  <div class="action">
    <%= link_to "Add a new Category", new_category_path, class: "categories-container__add__btn" %>
  </div>
</section>